@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 90%;
    --foreground: 210 80% 20%;

    --muted: 210 30% 70%;
    --muted-foreground: 210 70% 30%;

    --popover: 150 20% 90%;
    --popover-foreground: 240 10% 3.9%;

    --card: 210 20% 90%;
    --card-foreground: 210 80% 20%;

    --border: 210 50% 50%;
    --input: 210 50% 50%;

    --primary: 210 80% 30%;
    --primary-foreground: 210 20% 90%;

    --secondary: 150 30% 70%;
    --secondary-foreground: 150 70% 30%;

    --accent: 150 50% 50%;
    --accent-foreground: 150 80% 20%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 20% 90%;

    --ring: 210 50% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 80% 20%;
    --foreground: 210 20% 90%;

    --muted: 210 70% 30%;
    --muted-foreground: 210 30% 70%;

    --popover: 150 80% 20%;
    --popover-foreground: 150 20% 90%;

    --card: 210 80% 20%;
    --card-foreground: 210 20% 90%;

    --border: 210 70% 30%;
    --input: 210 70% 30%;

    --primary: 210 20% 90%;
    --primary-foreground: 210 80% 30%;

    --secondary: 150 70% 30%;
    --secondary-foreground: 150 30% 70%;

    --accent: 150 70% 30%;
    --accent-foreground: 150 30% 70% ;

    --destructive: 0 90% 20%;
    --destructive-foreground: 0 30% 80%;

    --ring: 210 70% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
