@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 80% 20%;
    --foreground: 210 20% 90%;

    --muted: 210 70% 30%;
    --muted-foreground: 210 30% 70%;

    --popover: 150 80% 20%;
    --popover-foreground: 150 20% 90%;

    --card: 210 80% 20%;
    --card-foreground: 210 20% 90%;

    --border: 210 70% 30%;
    --input: 210 70% 30%;

    --primary: 210 20% 90%;
    --primary-foreground: 210 80% 30%;

    --secondary: 150 70% 30%;
    --secondary-foreground: 150 30% 70%;

    --accent: 150 70% 30%;
    --accent-foreground: 150 30% 70% ;

    --destructive: 0 90% 20%;
    --destructive-foreground: 0 30% 80%;

    --ring: 210 70% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
